/********** start of css *********/

/***** ***** navbar ***** *****/
#main-nav {
  margin-bottom: 0;
}
#map-marker {
  padding-left: 4.25rem;
  padding-right: 4.25rem;
}


/***** ***** main (hero) ***** *****/
/* #row-one {
  margin-bottom: 20px;
} */
#main-article {
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  border: solid 0px rgba(240,240,240,0.7);
}
.img-responsive {
  width: 100%;
}
#main-text-div {
  border-top: solid red 5px;
  position: absolute;
  bottom: 0;
  left: 0; 
  right: 0;
  background-image: linear-gradient(to bottom, rgba(240,240,240,0.7), rgba(255,255,255, 1));
  padding-top: 10px;
  padding-bottom: 40px;
  /* border-bottom: solid 0.25px  rgba(240,240,240,0.7); */
}
.text-div {
  text-align: center;
  border-bottom-color: white;
}
h3 {
  color: red;
  text-transform: uppercase;
  font-size: 24px;
}
h4 {
  text-transform: uppercase;
  font-size: 30px;
}


/***** ***** main (sub-hero) ***** *****/
#row-two {
  border-top: solid 0.1px rgb(235, 225, 225);
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 25px;
  /* border-bottom: solid 1px rgb(235, 225, 225); */
  /* margin-bottom: 10px; */
}
#sub-hero-1 {
  border-right: solid rgb(235, 225, 225) 0.5px;
  /* border-bottom: solid rgb(235, 225, 225) 0.5px; */
  padding-left: 0;
  padding-right: 15px;
  padding-bottom: 80px;
} 
#sub-hero-2 {
  /* border-left: solid 0.009px darkgrey; */
  padding-left: 15px;
  padding-right: 0;
  /* margin-bottom: 15px; */
}
#sponsor-insight {
  color: rgb(34, 154, 209);
}
#sponsor-insight-background {
  background-color: #e6ffff;
  padding-bottom: 70px;
  border: solid 0.5px #e6ffff;
}


/***** ***** side menu /row three ***** *****/
#row-three {
  margin-left: 0px;
  background-color: white;
  padding-bottom: 8rem;
}
#latest-headline {
  font-size: 2.05rem;
  padding-top: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#headline-links, button {
  text-transform: capitalize;
}
ul {
  list-style: none;
  list-style-type: square;
  list-style-position: inside;
}
/*** unordered list ***/
#headline-links {
  font-weight: bold;
  padding-top: 15px;
  padding-left: 35px;
  padding-right: 40px;
}
li {
  border-width: 70%;
  color: red;
}
.headline-link-item { 
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid rgb(218, 212, 212) 1px;
}
.headline-span {
  color: black;
}
#headline-links::before {
  color: red;
}
#rwanda {
  border-bottom: none;
}
#button-div {
  margin: 0 auto;
  width: 100%;
}
button {
  color: rgb(150, 146, 146);
  /* float: clear; */
}
button:hover {
  opacity: 0.50;
}
#headline-button {
  border: solid black 2px;
  font-size: 18px;
  padding-top: 15px; 
  padding-bottom: 15px;
}


/***** ***** media breakpoints ***** *****/
/*  X-Small	<576px
    Small	≥576px
    Medium ≥768px
    Large	≥992px
    Extra large	≥1200px
    Extra extra large	≥1400px */


@media only screen and (max-width: 991px){
  #row-three {
    text-align: center;
    background-color: rgb(252, 235, 235, 0.25);
  }
}

@media only screen and (max-width: 991px){
  #row-three {
    border-top: solid rgb(235, 225, 225) 0.5px;
  }
} 

/* moves main text below image */
@media only screen and (max-width: 767px){
  #main-text-div {
    position: relative;
  }
}

@media only screen and (max-width: 767px){
  #sub-hero-1 {
    border: none;
    padding-right: 0;
    /* padding-bottom: 20px; */
  }
  #sub-hero-2 {
    padding-left: 0;
  }
}