/********** start of css *********/

/***** ***** navbar ***** *****/
#main-nav {
  margin-bottom: 0;
}
#map-marker {
  padding-left: 4.25rem;
  padding-right: 4.25rem;
}


/***** ***** main (hero) ***** *****/
/* #row-one {
  background-color: lightgrey; 
} */
#main-article {
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}
.img-responsive {
  width: 100%;
}
#main-text-div {
  border-top: solid red 5px;
  position: absolute;
  bottom: 0;
  left: 0; 
  right: 0;
  background-image: linear-gradient(to bottom, rgba(240,240,240,0.7), rgba(255,255,255, 1));
  padding-top: 10px;
  padding-bottom: 40px;
}
.text-div {
  text-align: center;
}
h3 {
  color: red;
  text-transform: uppercase;
  font-size: 24px;
}
h4 {
  text-transform: uppercase;
  font-size: 30px;
}


/***** ***** main (sub-hero) ***** *****/
#row-two {
  border-top: solid rgb(235, 225, 225) 0.5px;
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
#sub-hero-1 {
  border-right: solid rgb(235, 225, 225) 0.5px;
  padding-left: 0;
  padding-right: 15px;
} 
#sub-hero-2 {
  /* border-left: solid 0.05px darkgrey;*/
  padding-left: 15px;
  padding-right: 0;
}
#sponsor-insight {
  color: rgb(34, 154, 209);
}
#sponsor-insight-background {
  background-color: #e6ffff;
}


/***** ***** side menu ***** *****/
#row-three {
  margin-left: 0px;
  background-color: white;
}
#latest-headline {
  font-size: 2.05rem;
  padding-top: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#headline-links, button {
  text-transform: capitalize;
}
ul {
  list-style: none;
  list-style-type: square;
  list-style-position: inside;
}
/*** unordered list ***/
#headline-links {
  font-weight: bold;
  padding-top: 15px;
  padding-left: 35px;
  padding-right: 40px;
}
li {
  border-width: 70%;
  color: red;
}
.headline-link-item { 
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid rgb(218, 212, 212) 1px;
}
.headline-span {
  color: black;
}
#headline-links::before {
  color: red;
}
#rwanda {
  border-bottom: none;
}
#button-div {
  margin: 0 auto;
  width: 100%;
}
button {
  /* margin: 0 auto; */
  /* padding: 15px 50px; */
  color: rgb(150, 146, 146);
  float: clear;
}
button:hover {
  opacity: 0.75;
}
#headline-button {
  border: solid black 2px;
  font-size: 18px;
}


/***** ***** media breakpoints ***** *****/
/*  X-Small	<576px
    Small	≥576px
    Medium ≥768px
    Large	≥992px
    Extra large	≥1200px
    Extra extra large	≥1400px */

