/***** ***** navbar ***** *****/






/***** ***** main (hero) ***** *****/

h3 {
  color: red;
  text-transform: uppercase;
}
#sponsor-insight {
  color: rgb(34, 154, 209);
}
h4 {
  text-transform: uppercase;
}

/***** ***** main (sub-hero) ***** *****/




/***** ***** side menu ***** *****/


/***** ***** footer ***** *****/